In [64]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

x = pd.DataFrame({ "intercept":[1,1,1,1,1,1,1,1,1,1],
                   "col_1": [1.3, 2, 1.7, 1.5,1.6,1.2,1.6,1.4,1,1.1],
                   "col_2": [9,7,5,14,15,12,6,10,15,21] })

y= pd.DataFrame({"col_3":[10, 6, 5, 12,10,15,5,12,17,20]})

x

   intercept  col_1  col_2
0          1    1.3      9
1          1    2.0      7
2          1    1.7      5
3          1    1.5     14
4          1    1.6     15
5          1    1.2     12
6          1    1.6      6
7          1    1.4     10
8          1    1.0     15
9          1    1.1     21

β' =(Xt * X)^(-1) * Xt * Y

In [136]:
#Xt

xt= np.transpose(x)

#(Xt * X)^(-1)

xtx= np.linalg.inv(np.dot(xt,x))

#Xt * Y

xty= np.dot(xt,y)

#β'

b= np.dot(xtx,xty)

pd.DataFrame(b)

           0
0  16.406365
1  -8.247580
2   0.585101

Y-Y'=e

SSE= sum((Y-Y'|)^(2))       MSE = SSE/(n-k-1)

SSR= sum((Y'-Y'|)^(2))     MSR = SSR/k

SST= sum((Y-Y|)^(2)) or SST=SSE+SSR

R^2=SSR/SST

F= MSR/MSE

In [134]:
#Y'

ypron = np.dot(x, b)[:, 0]

ypron = pd.DataFrame({"col_3": ypron})

#e

e= y- ypron

#SSE

sse= (e**2).sum()

#MSE

mse = sse/(len(x)-(len(x.columns)-1)-1)

#SST

sst= ((y-y.mean())**2).sum()

#SSR

ssr = sst-sse

#MSR

msr = ssr/(len(x.columns)-1)

#R^2

r2=ssr/sst

#F

f=msr/mse


print(r2,f)

col_3    0.931929
dtype: float64 col_3    47.916574
dtype: float64

In [135]:
#Or more symple

model = sm.OLS(y, x).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  col_3   R-squared:                       0.932
Model:                            OLS   Adj. R-squared:                  0.912
Method:                 Least Squares   F-statistic:                     47.92
Date:                Mon, 07 Aug 2023   Prob (F-statistic):           8.23e-05
Time:                        21:38:16   Log-Likelihood:                -16.509
No. Observations:                  10   AIC:                             39.02
Df Residuals:                       7   BIC:                             39.92
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     16.4064      4.343      3.778      0.007       6.138      26.675
col_1         -8.2476      2.196     -3.756      0.007     -13.440      -3.055
col_2          0.5851      0.134      4.377      0.003       0.269       0.901
==============================================================================
Omnibus:                        0.493   Durbin-Watson:                   3.136
Prob(Omnibus):                  0.782   Jarque-Bera (JB):                0.492
Skew:                          -0.027   Prob(JB):                        0.782
Kurtosis:                       1.914   Cond. No.                         126.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\daner\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "